@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AppTrackV2.Pages.Applications.IndexModel

@{
    ViewData["Title"] = "My Applications";
}

<h1>My Applications</h1>

<p>
    <a asp-page="Create">Add New Job</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">
                <a asp-page="./Index"
                   asp-route-SortField="title"
                   asp-route-SortOrder="@(Model.SortField == "title" && Model.SortOrder == "asc" ? "desc" : "asc")">
                    Title
                </a>
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Applications[0].Company)
            </th>
            <th scope="col">
                <a asp-page="./Index"
                   asp-route-SortField="status"
                   asp-route-SortOrder="@(Model.SortField == "status" && Model.SortOrder == "asc" ? "desc" : "asc")">
                    Status
                </a>
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Applications[0].Link)
            </th>
            <th scope="col">
                <a asp-page="./Index"
                   asp-route-SortField="dateAdded"
                   asp-route-SortOrder="@(Model.SortField == "dateAdded" && Model.SortOrder == "asc" ? "desc" : "asc")">
                    Date
                </a>
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Applications) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}